{% extends "main.html" %}
{% block content %}
{% include "Logedoutheader.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>{{competetion_name}}</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
</div>
	{% for team in teams %}
		<a href = "{{url_for('showPlayer', team_id = team.id)}}"> <!-- Change this with All Team URL and Team ID // Competetion ID ?-->
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 comp-team-list"> <!-- Change it to the new CSS name "comp-team-list" -->
						<h3>{{team.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>

	{% endfor %}
{% endblock %}
